<h1 style="margin-top:25px;">Panel de Administracion </h1>

<div class="row">
	<div class="col-sm-12">
		<h3 style="float: left;">Logros</h3>
		<%= link_to "Listado de Logros", ranking_index_path , :class => "btn btn-warning", :style => "float:left; margin-top:17px; margin-left: 15px;" %>
		<%= link_to "Agregar Logro", new_ranking_path(Ranking) , :class => "btn btn-warning", :style => "float:left; margin-top:17px; margin-left: 15px;" %>
	</div>

	<div class="col-sm-12" style="margin-top: 25px;">
		<h3 style="float: left;">Ganancias entre 2 fechas</h3>
		<a href="/admin_panel/recaudacion" class="btn btn-warning" style="float:left; margin-top:17px; margin-left: 15px;" > Ver </a>
	</div>

	<div class="col-sm-12" style="margin-top: 25px;">
		<h3 style="float: left;">Ranking de usuarios con mayor cantidad de eslabones</h3>
		<a href="/admin_panel/rankingEslabones" class="btn btn-warning" style="float:left; margin-top:17px; margin-left: 15px;" > Ver </a>
	</div>
</div>