<h1>Logros</h1>


  <div class="row">
    <div class="col-sm-2">
     <h4 style="text-align:center;"">  Titulo </h4>
    </div>
    <div class="col-sm-3">
      <h4> Eslabones necesarios</h4>
    </div>
  </div>
<% @rankings.each do |ranking| %>



  <div class="row">
    <div class="col-sm-2">

     <pre style="text-align:center; "><%= ranking.titulo %></pre> 
    </div>
    <div class="col-sm-2">
      <pre style="text-align:center;""><%= ranking.cantidad_eslabones%></pre>	
    </div>
  </div>
  <%end %>
</div>