<style type="text/css">
	.footer{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 4px;
		height: 50px;
		width: 100%;
		background-color: #E0E0E0;
		color: #000;
	}
</style>

<footer class="footer">
	<div class="container">
		<%= image_tag "logo.png" , style:"height: 40px;float: left;", class:"img-responsive" %>
		<p style="float: left; margin-top: 10px;">
			Proyecto Gauchada, cadena de favores. Todos los derechos reservados PGT Software.
		</p>
	</div>
</footer>
